
@{
    /*ViewBag.Title = "Culture";*/
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Culture</h2>

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Personal</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <!-- start banner Area -->
    <section class="about-banner">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Genel Kültür
                    </h1>
                    <p class="text-white link-nav"><a href="index.html">Ana Sayfa </a>  <span class="lnr lnr-arrow-right"></span><a href="blog-home.html">Keşfet </a> <span class="lnr lnr-arrow-right"></span> <a href="blog-single.html"> Genel Kültür</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="services-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content  col-lg-7">
                    <div class="title text-center">
                        <h1 class="mb-10">Coming Soon...</h1>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>