
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Register</h2>
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="colorlib">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <section class="post-content-area single-post-area">
        <div class="container">
            <div class="comment-form form">
                <h4>ÜYE OL</h4>
                <form action="/User/Register" class="form-group" method="post">
                        <div class="form-group col-lg-12s col-md-12">
                            <input type="text" class="form-control" name="adSoyad" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'">
                        </div>
                        <div class="form-group col-lg-12 col-md-12">
                            <input type="text" class="form-control" name="kullaniciAdi" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        </div>
                        <div class="form-group col-lg-12 col-md-12">
                            <input type="text" class="form-control" name="eMail" placeholder="Email Adress" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Adress'">
                        </div>
                        <div class="form-group col-lg-12 col-md-12">
                            <input type="password" class="form-control" name="sifre" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                    <div>
                        <a>Zaten Üye Misin ?</a>
                        <a href="~/Security/Login">Giriş Yap</a>
                    </div>
                    <button style="margin-top:10px" class="primary-btn text-uppercase">KAYDOL</button>
                </form>
            </div>
        </div>
    </section>  
</body>
</html>
<style type="text/css">
    .form{
        margin: 0 auto;
        width: 500px;
    }
</style>