@model PersonalWebSite.Models.Makale
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <section class="post-content-area single-post-area">
        <div class="container">
            <div class="comment-form">
                <div class="single-sidebar-widget user-info-widget">
                    <img src="~/Upload/WorkPhotos/blog.jpg">
                </div>
                @using (Html.BeginForm("Blog", "AdminBlog", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <form class="form-group" method="post">
                    <div class="form-group" style="margin-top:10px">
                        <label>Makale Fotoğrafı Seç:</label>
                        <input type="file" name="fotograf" accept=".jpg,.png,.JPG,.jpeg" id="fotograf" />
                    </div>
                    @Html.HiddenFor(m => m.makaleDetayID)
                    <div class="form-group form-control col-lg-12 col-md-12 form-inline">
                        <a class="col-lg-2 col-md-12">Kategori:</a>
                        @Html.DropDownListFor(m => m.Kategori.kategoriID, (List<SelectListItem>)ViewBag.ktgr, new { @class = "col-lg-10 col-md-12",})
                    </div>
                    <div class="form-group form-control col-lg-12 col-md-12 form-inline">
                        <a class="col-lg-2 col-md-12">Makale Başlığı:</a>
                        @Html.TextBoxFor(m => m.MakaleDetay.baslik, new { @class = "form-control col-lg-10 col-md-12 name", placeholder = "Örn: 'Makine Öğrenmesi Nedir?'" })
                    </div>
                    <div class="form-group form-control col-lg-12 col-md-12 form-inline">
                        <a class="col-lg-2 col-md-12">Makale İçeriği:</a>
                        @Html.TextAreaFor(m => m.MakaleDetay.icerik, new { @class = "form-control col-lg-10 col-md-12 name", rows = "10", placeholder = "Örn: Makine öğrenmesi yapay zekanın içinde bulunan bir parça gibidir." })
                    </div>
                    <button class="primary-btn text-uppercase">KAYDET</button>
                </form>
                }
            </div>
        </div>
    </section>
</body>
</html>