
@{
    /*ViewBag.Title = "Index";*/
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Personal</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <!-- Start home-about Area -->
    <section class="home-about-area section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 home-about-left">
                    <img class="img-fluid" src="~/Content/img/abm.png" alt="">
                </div>
                <div class="col-lg-5 col-md-6 home-about-right">
                    <h1 class="text-uppercase">BEN KİMİM ?</h1>
                    <p>
                        <a href="https://drive.google.com/file/d/1-ar06U0behspOkbvfd31W55XkxHH-r9k/view?usp=sharing" target="_blank">Hakkımda daha detaylı bilgi için CV'me buradan ulaşabilirsiniz.</a>
                        Ben, Celal Bayar Üniversitesi Yazılım Mühendisliği 3.Sınıf öğrencisi "sitenin isminden de anlayabileceğiniz gibi" Özgür. İlk yazılımla tanışmam lisede oldu.
                        Liseyi Çine Anadolu Teknik Lisesi’nde okudum. Bölümüm Bilişim Teknolojileri | Web Tasarım'dı.
                    </p>
                    <p>
                        Dreamweaver kullanarak web sitesi front-end tasarlıyordum.
                        Daha sonrasında Adobe Fireworks kullanarak statik web sayfaları dizayn ediyorduk çok seviyordum çok zevkliydi.
                        İlk ödevimi ise Neslihan adında bir öğretmenimiz vermişti herhangi bir kuruluş için tanıtım web sitesi yapmamızı istemişti en başından souna kadar yaptığım ilk işti çok zevkliydi çok mutlu olmuştum o anki hislerimi anlatamam.
                    </p>
                    <p>
                        Liseyi bitirdikten sonra okul hayatına 1 yıl ara verip tekrar üniversite sınavlarına girme kararı aldım. 
                        Çok zorlu geçen bir yılın ardından Yazılım Mühendisliği Bölümünü kazandım.
                        Şimdilerde 23 yaşlarında, yazılım mühendisi olma yolunda ilerleyen hergün kendini geliştirebilmek için bilgi birikimim üzerine bir taş koymaya çalışan bir yazılım mühendisliği öğrencisiyim.
                    </p>    
                </div>
            </div>
    </section>
</body>
</html>