
@{
    /*ViewBag.Title = "Index";*/
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AboutMe Index</h2>

<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Personal</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <!-- Start home-about Area -->
    <section class="home-about-area section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 home-about-left">
                    <img class="img-fluid" src="~/Content/img/abm.png" alt="">
                </div>
                <div class="col-lg-5 col-md-6 home-about-right">
                    <h6>HAKKIMDA</h6>
                    <h1 class="text-uppercase">BEN KİMİM ?</h1>
                    <p>
                        Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                    </p>
                </div>
                <div class="col-lg-12 pt-60">
                    <p>
                        It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its popularity and technological advancement are concerned. The history of video game is as interesting as a fairy tale.
                    </p>
                    <p>
                        The quality of today’s video game was not at all there when video game first conceptualized and played ever. During the formulative years, video games were created by using various interactive electronic devices with various display formats. The first ever video game was designed in 1947 by Thomas T. Goldsmith Jr.
                    </p>
                    <h4 class="pt-30">Yetkinlikler</h4>
                </div>
            </div>
            <div class="row skillbar-wraps">
                <div class="col-lg-6 skill-left">
                    <div class="single-skill">
                        <p>
                            C# 50%
                        </p>
                        <div class="skill" data-width="50"></div>
                    </div>
                    <div class="single-skill">
                        <p>
                            SQL Server 50%
                        </p>
                        <div class="skill" data-width="50"></div>
                    </div>
                    <div class="single-skill">
                        <p>
                            ASP.NET MVC 40%
                        </p>
                        <div class="skill" data-width="40"></div>
                    </div>
                </div>
                <div class="col-lg-6 skill-right">
                    <div class="single-skill">
                        <p>
                            Python 40%
                        </p>
                        <div class="skill" data-width="40"></div>
                    </div>
                    <div class="single-skill">
                        <p>
                            React Native 55%
                        </p>
                        <div class="skill" data-width="55"></div>
                    </div>
                    <div class="single-skill">
                        <p>
                            React 55%
                        </p>
                        <div class="skill" data-width="55"></div>
                    </div>

                </div>
            </div>
    </section>
    <section class="timeline pb-120">
        <div class="text-center">
            <div class="menu-content pb-70">
                <div class="title text-center">
                    <h1 class="mb-10">Eğitim Durumu</h1>
                </div>
            </div>
        </div>
        <ul>
            <li>
                <div class="content">
                    <h4>
                        <time>CELAL BAYAR ÜNİVERSİTESİ</time>
                    </h4>
                    <p><b>YAZILIM MÜHENDİSLİĞİ</b></p>
                    <p>2015-2020</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <img class="img-fluid mx-auto d-block mb-30" src="img/about/c-logo.png" alt="">
                    <h4>
                        <time>Çine Anadolu Teknik ve Endüstri Meslek Lisesi</time>
                    </h4>
                    <p><b>WEB PROGRAMLAMA</b></p>
                    <p>2010-2014</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h4>
                        <time>Şehit Soner Turan İlköğretim Okulu</time>
                    </h4>
                    <p>2002-2010</p>
                </div>
            </li>
        </ul>
    </section>
</body>
</html>