@{
    /*ViewBag.Title = "Index";*/
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Personal</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>

    <!-- Start contact-page Area -->
    <section class="contact-page-area section-gap">
        <div class="container">
            <div class="single-contact-address d-flex flex-row">
                <div class="contact-details">
                    <h4>BANA ULAŞIN</h4>
                    <p>İstek, soru ve önerileriniz için aşağıdaki formu doldurarak bana ulaşabilirsiniz.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <form class="form-area contact-form text-right" action="/Mail/SendMail" method="post">
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <input name="ad" placeholder="İsminiz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'İsminiz'" class="common-input mb-20 form-control" required="" type="text">
                                <input name="mail" placeholder="E-Mail adresiniz" pattern="[A-Za-z0-9._%+-]+[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-Mail adresiniz'" class="common-input mb-20 form-control" required="" type="email">
                                <input name="konu" placeholder="Konu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Konu'" class="common-input mb-20 form-control" required="" type="text">
                            </div>
                            <div class="col-lg-6 form-group">
                                <textarea class="common-textarea form-control" name="mesaj" placeholder="Mesajınız..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mesajınız'" required=""></textarea>
                            </div>
                            <div class="col-lg-12">
                                <div class="alert-msg" style="text-align: left;"></div>
                                <button href="/Mail/SendMail" class="genric-btn primary" style="float: right;">GÖNDER</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

