
@{
    /*ViewBag.Title = "Index";*/
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Personal</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <!-- start banner Area -->
    <section class="banner-area">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 banner-left">
                    <h6>MERHABA BEN <b>ÖZGÜR ÇAKICI</b> KİŞİSEL WEB SAYFAMA</h6>
                    <h1>HOŞGELDİNİZ</h1>
                    <p>
                        Ben 1996 yılında Aydın'ın Söke ilçesinde doğdum çocukluğumu Didim'de geçirdim. Lise hayatım ise Çine'de Çine Anadolu Teknik ve Endüstri Meslek Lisesinde geçti...
                    </p>
                    <a href="/Home/AboutMe" class="primary-btn text-uppercase">Daha fazla bilgi...</a>
                </div>
                <div style="margin-bottom:90px" class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
                    <img class="img-fluid" src="~/Content/img/home.png">
                </div>
            </div>
        </div>
    </section>
</body>
</html>

