<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal WebPage</title>
    <link rel="stylesheet" href="~/Content/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>
<body>
    <header id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/Home/Index"><img src="/Content/img/22_40.png" alt="" title="" /></a>
                </div>
                <nav>
                    <ul class="nav-menu">
                        <li><a href="/Home/Index">Ana Sayfa</a></li>
                        <li><a href="/Home/AboutMe">Ben Kimim ?</a></li>
                        <li><a href="/Works/Index">Projelerim</a></li>
                        <li><a href="/Blog/Index">Keşfet !</a></li>

                        <li><a href="/Home/Contact  ">Bana Ulaşın</a></li>
                    </ul>
                </nav>
                <div class="nav-menu usernavitem">
                        <a href="/User/UserProfile" target="_blank" class="li-ic"><i class="fa fa-2x fa-user"></i></a>
                        <a href="/Security/Login">GİRİŞ YAP</a>
                        <a href="/User/Register"> ÜYE OL</a>
                </div>

            </div>
        </div>
    </header>
    @RenderBody()
    <footer style="background-color:#04091E">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="/Home/Contact">MAİL</a></h6>
            </div>
            <div class="row d-flex text-center justify-content-center">
                <p style="color:#ffffff">cakicozgur@gmail.com</p>
            </div>
        </div>
        <div class="footer-copyright text-center py-4">
            <a href="https://github.com/cakicio7gur" target="_blank" class="ins-ic"><i class="fa fa-2x fa-fw fa-github"> </i></a>
            <a href="https://twitter.com/cakicio7gur" target="_blank" class="li-ic"><i class="fa fa-2x fa-fw fa-linkedin"> </i></a>
            <a href="https://www.linkedin.com/in/cakicio7gur/" target="_blank" class="tw-ic"><i class="fa fa-2x fa-fw fa-twitter"> </i></a>
            <a href="https://www.instagram.com/cakicio7gur/" target="_blank" class="tw-ic"><i class="fa fa-2x fa-fw fa-instagram"> </i></a>
        </div>
    </footer>
    <script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/js/easing.min.js"></script>
    <script src="~/Content/js/hoverIntent.js"></script>
    <script src="~/Content/js/superfish.min.js"></script>
    <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.tabs.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <script src="~/Content/js/simple-skillbar.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/mail-script.js"></script>
    <script src="~/Content/js/main.js"></script>

</body>
</html>
