<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal WebPage</title>
    <link rel="stylesheet" href="~/Content/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>
<body>
    <header id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="userbutton">
                    <a href="/Security/Register" class="primary-btn text-uppercase">KAYIT OL</a>
                    <a href="/Security/Login" class="primary-btn text-uppercase">GİRİŞ YAP</a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="/Home/Index">Ana Sayfa</a></li>
                        <li><a href="/Home/AboutMe">Ben Kimim ?</a></li>
                        <li><a href="/Works/Index">Çalışmalarım</a></li>
                        <li><a href="/Blog/Index">Yazılarım</a></li>
                        <li class="menu-has-children">
                            <a>Keşfet</a>
                            <ul>
                                <li><a href="/Discover/Culture">Genel Kültür</a></li>
                                <li><a href="/Discover/Motivation">Motivasyon</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/Contact  ">Bana Ulaşın</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer-area section-top-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Follow Me</h4>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                            <p>&copy; @DateTime.Now.Year - Özgür ÇAKICI</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/js/easing.min.js"></script>
    <script src="~/Content/js/hoverIntent.js"></script>
    <script src="~/Content/js/superfish.min.js"></script>
    <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.tabs.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <script src="~/Content/js/simple-skillbar.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/mail-script.js"></script>
    <script src="~/Content/js/main.js"></script>

</body>
</html>
