<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/Content/Admin/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Personal Web Page</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
</head>
<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo">
                <a class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="/Content/Admin/assets/img/logo-small.png">
                    </div>
                </a>
                <a class="simple-text logo-normal">ÖZGÜR ÇAKICI</a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li><a href="/Admin/Index"><i class="nc-icon nc-bank"></i><p>Dashboard</p></a>
                    </li>
                    <li>
                        <a href="/Admin/Users"><i class="nc-icon nc-single-02"></i><p>Users</p></a>
                    </li>
                    <li>
                        <a href="/Admin/Works"><i class="nc-icon nc-laptop"></i><p>NEW PROJECT</p></a>
                    </li>
                    <li>
                        <a href="/Admin/WorksList"><i class="nc-icon nc-tile-56"></i><p>PROJECT LIST</p></a>
                    </li>
                    <li>
                        <a href="/Admin/AddBlog"><i class="nc-icon nc-caps-small"></i><p>NEW BLOG</p></a>
                    </li>
                    <li>
                        <a href="/Admin/BlogsList"><i class="nc-icon nc-bullet-list-67"></i><p>BLOG LIST</p></a>
                    </li>
                    <li>
                        <a href="/Admin/CommentsList"><i class="nc-icon nc-chat-33"></i><p>COMMENT LIST</p></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand">PERSONAL WEB PAGE ADMİNİSTRATOR INTERFACE</a>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            <li class="nav-item btn-rotate dropdown">
                                <a href="#">Çıkış Yap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>
    <script src="~/Content/Admin/assets/js/core/jquery.min.js"></script>
    <script src="~/Content/Admin/assets/js/core/popper.min.js"></script>
    <script src="~/Content/Admin/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Content/Admin/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <script src="~/Content/Admin/assets/js/plugins/chartjs.min.js"></script>
    <script src="~/Content/Admin/assets/js/plugins/bootstrap-notify.js"></script>
    <script src="~/Content/Admin/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
    <script src="~/Content/Admin/assets/demo/demo.js"></script>
</body>
</html>