@using PersonalWebSite.Models
@model List<Proje>
@{
    /*ViewBag.Title = "Index";*/
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Personal</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <!-- start banner Area -->
    <section class="about-banner">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Projelerim
                    </h1>
                    <p class="text-white link-nav"><a href="/Home/Index">Ana Sayfa </a>  <span class="lnr lnr-arrow-right"></span>  <a> Projelerim</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start portfolio-area Area -->
    <section class="portfolio-area section-gap" id="portfolio">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Üzerinde Çalıştığım Projeler</h1>
                        <p>Üzerinde çalıştığım projeleri daha detaylı incelemek için tıklayabilirsiniz.</p>
                    </div>
                </div>
            </div>

            <div class="filters-content">
                <div class="row grid">
                    @foreach (var item in Model)
                    {
                    <div class="single-portfolio col-sm-4 all printing">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src=@Url.Content(item.projeResim) alt="">
                            </div>
                        </div>
                        <div class="p-inner">
                            <h4>@item.projeBaslik</h4>
                            <a href="@item.projeLink" target="_blank" class="cat">Projeye git...</a>
                        </div>
                    </div>
                    }
                </div>
            </div>

        </div>
    </section>
</body>
</html>

