@using PersonalWebSite.Models
@model List<Proje>
@{
    /*ViewBag.Title = "Index";*/
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Personal</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
</head>
<body>
    <!-- start banner Area -->
    <section class="about-banner">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white"> Projelerim</h1>
                    <p class="text-white"><a>Projelerimi daha detaylı incelemek için projenin üzerine tıklayabilirsiniz. </a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <section class="services-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content  col-lg-7">
                    <div class="title text-center">

                        <div>
                            <a href="/Works/YeniProje" class="primary-btn text-uppercase">+ YENİ PROJE EKLE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6"> 
                        <div class="single-services">
                            <span class="lnr lnr-laptop-phone"></span>
                            <a href="@item.projeLink" target="_blank"><h4>@item.projeBaslik</h4></a>
                            <a>
                                Github üzerinde incelemek için projeye tıklayınız.
                            </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
</body>
</html>

